.ChatListItem {
  display: flex;
  &__actions {
    padding-top: 17px;
    padding-right: 12px;
  }
  &__textWrapper {
    padding: 17px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #101828;
  }
}

.active {
  background: #ebf5ff;
}
