.Registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 128px;
  & h2 {
    margin-bottom: 12px;
  }
  &__link {
    margin-top: 20px;
    width: 420px;
  }
  &__form {
    width: 420px;
    &__field {
      display: block;
      margin-bottom: 12px;
      &__label {
        display: block;
        margin-bottom: 4px;
      }
    }
  }
}
