.chatList {
  width: 260px;
  height: 100vh;
  border-right: 1px solid rgba(16, 24, 40, 0.1);
  overflow: auto;
  position: relative;
  &__addChat {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(16, 24, 40, 0.1);
    background: #fff;
  }
  &__navLink {
    display: flex;
    &__actions {
      padding-top: 17px;
      padding-right: 12px;
    }
    &__textWrapper {
      padding: 17px 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      color: #101828;
    }
  }
}

.active {
  background: #ebf5ff;
}
