.messageCard {
  border: 1px solid rgba(16, 24, 40, 0.1);
  padding: 12px;
  border-radius: 8px;
  display: grid;
  grid-template-rows: repeat(2 * 1fr);
  row-gap: 4px;
  background: #fff;
  margin-bottom: 12px;
  &:hover {
    box-shadow: 0px 3px 23px -8px rgba(34, 60, 80, 0.14);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    .messageCard__header__user {
      font-weight: 600;
      &__human {
        color: #7700ff;
      }
      &__robot {
        color: #2f9aff;
      }
    }
  }
}
